  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    } 
    
    /* Header */
    header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px 50px;
      background: black;
      border-bottom: 1px solid black;
      position: sticky;
      top: 0;
      z-index: 10;
    }

    header .logo {
      
      color: white;
      text-align: center;
      font-family: 'Playfair Display', serif;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 2px;
    }

    header nav a {
      margin-left: 30px;
      text-decoration: none;
      color: white;;
      font-size: 16px;
      transition: color 0.3s ease;
    }

    header nav a:hover {
      color: rgb(239, 170, 42);
    }